header {
  background-color:rgb(238, 237, 237);
  width: 100%;
  height: 100px;
  top:0px;
  position: fixed;
  z-index: 2;
  }
  body{
    margin-top:100px;
  }
  .logo {
    padding-top: 23px;
    padding-left: 25px;
    width: 18em;
    float: left;
  }
  .nav {
    float: right;
    margin-right: 70px;
    margin-top: 40px;
  }
  li {
    list-style: none;
    float: left;
    margin-right: 20px;
  }
  .btn {
    color: rgb(82, 81, 81);
    font-family: 'Noto Serif JP', ;
    font-size: 20px;
  }
.main-img {
  background-size: cover;
  width:100%;
  height: 500px;
  
}
.plof {
  width: 100%;
  height: auto;
}
.all {
  margin: 0 4%;
}
.all-txt {
  font-family: 'Noto Serif JP', ;
  font-size: 40px;
  color: rgb(82, 81, 81);
  margin: 40px 0px 30px 0px;
}
.about {
.inline {
  font-family: 'Noto Serif JP', ;
  display: flex;
  color: rgb(82, 81, 81);
  .my-phot {
    width: 30%;
    height: auto;
    margin-right: 30px;
  }
  .in-line {
    margin-left: 50px;
  }
  .about-txt {
  font-size: 43px;
  }
  .about-txt2 {
    font-size: 30px;
    margin-left: 80px;
}
.plof-txt {
margin-top: 70px;
font-size: 15px;
}
}
.boder {
  border-width: .3rem;
}
}
.rigth-img {
  display: flex;
  opacity: 0;
  transform : translate(0, 50px);
  transition : all 1500ms;
}
.rigth-img.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}
.right {
  width: 30%;
  height: 30%;
  margin: 0 auto;
  border-radius: 5px;
}
.work-txt {
  font-family: 'Noto Serif JP', ;
  color: rgb(82, 81, 81);
  text-align: center;
  margin: 40px 230px 40px 230px;
  padding: 30px 0px 30px 0px;
  background-color: rgba(255, 255, 255, 0.103);
  border: double 5px rgb(241, 240, 240);
}
.left-img {
  display: flex;
  opacity: 0;
  transform : translate(0, 50px);
  transition : all 1500ms; 
  }
  .left {
  width: 30%;
  height: 30%;
  margin: 0 auto;
  border-radius: 5px;
  }
  .left-img.scrollin {
    opacity: 1;
    transform: translate(0, 0);
  }
.main-boder {
  margin-bottom: 0px;
  border-width: .3rem;
  opacity: 0.3;
}
.bg-img {
  background-image: url(img/bg-img.png);
  width: 100%;
  height: 800px;
  margin-top: 0px;
  margin: 0px;
  opacity: 0.4;
  background-size: cover;
  background-attachment: fixed;
}
.all-txte {
  font-family: 'Noto Serif JP', ;
  font-size: 40px;
  color: rgb(82, 81, 81);
  margin: 0px 0px 30px 60px;
  padding-top: 30px;
  
}
.manu-access {
  background-color: rgb(240, 239, 239);
  height: 600px;
}
.access-map {
  display: flex;
  justify-content: space-around;
  .house {
    font-family: 'Noto Serif JP', ;
    color: rgb(82, 81, 81);
    font-size: 20px;
  }
  p {
    background-color: white;
    margin-bottom: 2em;
    padding: 20px;
    font-family: 'Noto Serif JP', ;
    color: rgb(82, 81, 81);
  }
  .fas {
    color: rgb(204, 115, 42);
    width: 40px;
    height: 20px;
  }
}
.mail {
  text-align: center;
  background-color: rgba(54, 114, 129, 0.479);
  border: double 20px rgb(255, 255, 255);
  border-radius: 50px;
  padding: 10px 0px;
  margin: 0px 400px 20px 400px;
}
.text {
  margin: 2rem;
  font-size: 14px;
  color: rgb(61, 61, 61);
  font-family: 'Noto Serif JP', ;
}
.kome {
  font-size: 20px;
  color: red;
}
.form {
  border-radius: 5px;
  padding: 5px;
}
label {
  margin-right: 20px;
}
button {
  background-color: rgb(255, 255, 255);
  padding: 15px 30px;
  border-radius: 10px;
}
footer {
  background-color:rgb(238, 237, 237);
  position: relative;
  .footer-logo {
  width: 10%;
  height: 30px;
  position: absolute;
	bottom: 5px;
  }
  .f-txt {
text-align: right;
padding: 20px 0px;
font-family: 'Noto Serif JP', ;
margin-right: 4em;
font-size: 10px;
  }
}

// スマホ670以下
@media all and ( max-width:670px ) {
  .logo {
    padding-top: 10px;
    padding-left: 25px;
    width: 13em;
    float: left;
  }
  .nav {
    float: right;
    margin-right: 0px;
    margin-top: 20px;
    text-align: center;
  }
  li {
    list-style: none;
    margin-right: 8px;
  }
  .btn {
    color: rgb(82, 81, 81);
    font-family: 'Noto Serif JP', ;
    font-size: 10px;
  }
  .all-txt {
    font-size: 30px;
  }
  .about {
    .inline {
      font-family: 'Noto Serif JP', ;
      color: rgb(82, 81, 81);
      flex-direction: column;
      .my-phot {
        width: 90%;
        height: 230px;
        margin: 0 auto;
      }
      .about-txt {
      font-size: 25px;
      text-align: center;
      }
      .about-txt2 {
        font-size: 20px;
        text-align: center;
        margin-left: 100px;
    }
    .plof-txt {
    margin-top: 50px;
    font-size: 10px;
    }
    }
    }

    .work-txt {
     font-size: 16px;
     width: 100%;
     margin-left: 0px;
    }

    .rigth-img {
      flex-direction: column;
    }
    .right {
      width: 90%;
      margin-bottom: 10px;
    }
    .left-img {
      flex-direction: column;
    }
    .left {
      width: 90%;
      margin-bottom: 10px;
    }

    .bg-img {
  width: 100%;
  height: 400px;
  margin-top: 0px;
  margin: 0px;
  opacity: 0.4;
  background-size: cover;
  background-attachment: fixed;
    }

    .manu-access {
      background-color: rgb(240, 239, 239);
      height: 600px;
    }
    .access-map {
      flex-direction: column;
      .house {
        font-family: 'Noto Serif JP', ;
        color: rgb(82, 81, 81);
        font-size: 10px;
        margin: 10px 30px;
      }
      p {
        background-color: white;
        margin-bottom: 1em;
        padding: 10px;
        margin-right: 50px;
        font-family: 'Noto Serif JP', ;
        color: rgb(82, 81, 81);
      }
      .fas {
        color: rgb(204, 115, 42);
        height: 20px;
      }
      .map {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        }
         
        .map iframe,
        .map object,
        .map embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
    }
    .mail {
      width: 100%;
      margin: 0px;
      margin-bottom: 20px;
    }
    .form {
      width: 80%;
    }
    footer {
      .footer-logo {
        width: 40%;
        height: 30px;
        position: absolute;
        bottom: 5px;
        }
    }
    
}